{% extends 'base.html' %}
{% load static %}

{% block title %}Admin Dashboard{% endblock title %}

{% block content %}

    <div class="container">
        <h1 class="mt-5 mb-5">Admin Dashboard</h1>

        <form method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Generate csv</button>
        </form>
        <br>
        <a class="w-25 p-3 btn btn-secondary" href="{% url 'download-data' %}">download</a>    </div>

{% endblock content %}


{% block scripts %}
<script src="{% static 'js/download-data.js' %}"></script>
{% endblock scripts %}
